@import './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  background: $off-white;
  overflow: hidden;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row {
  // border: 1px dotted grey;
}

.box .row.header {
  flex: 0 1 auto;
}

.box .row.content {
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
  overflow-y: hidden;
}

.box .row.footer {
  flex: 0 1 40px;
}

.troll-logo {
  width: 150px;
}

.site-container {
  max-width: 1100px;
  margin: 0 auto;
  background-color: white;
}

.content-container {
  padding: 0rem 2rem;

  @media (max-width: $screen-xs) {
    padding: 0 1rem;
  }
}

.container-vh {
  height: calc(100vh - 250px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;

  @media (max-width: $screen-xs) {
    height: calc(100vh - 198px);
  }
}

.btn-inline {
  margin-right: 1rem;
}

.desktop-only {
  @media (max-width: $screen-md) {
    display: none;
  }
}

.desktop-and-tablet-only {
  @media (max-width: $screen-sm) {
    display: none;
  }
}

.not-small-mobile {
  @media (max-width: $screen-xs) {
    display: none;
  }
}

.hide-at-lt-screen-lg {
  @media (max-width: $screen-lg) {
    display: none;
  }
}

.show-at-lt-screen-lg {
  display: none;
  @media (max-width: $screen-lg) {
    display: unset;
  }
}

.container-1920 {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
  align-items: center;
}

app-chat-page {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
}
