.troll-logo {
  width: 150px;
}

.site-container {
  max-width: 1100px;
  margin: 0 auto;
  background-color: white;
}

.content-container {
  padding: 1rem 2rem;
}

.btn-inline {
  margin-right: 1rem;
}
