.title {
  text-align: center;
}

.text--no-margin {
  margin-bottom: 0;
}

.text--sm {
  font-size: 10px;
}

.text--xs {
  font-size: 8px;
}

.text--muted {
  color: $muted;
}

.text--center {
  text-align: center;
}

.text--white {
  color: $white;
}
