<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <h3>Please fill in your details below:</h3>
  <br>
  <input type="text" id="username" formControlName="username" class="form-control content-input" placeholder="Alias">
  <br>
  <input type="text" id="email" formControlName="email" class="form-control content-input" placeholder="Email">
  <br>
  <input type="password" id="password" formControlName="password" class="form-control content-input" placeholder="Password">
  <br>
  <p>{{ error }}</p>
  <div class="d-flex justify-content-between">
    <button class="btn btn-inline btn-primary" type="submit">Sign up!!</button>
    <button class="btn btn-secondary" (click)="openLogin()">Login</button>
</div>
</form>
