@import '../../../sass/base/variables';

.footer {
  position: relative;
  min-height: 100px;
  width: 100%;
  background: $dark;
  color: $white;
  padding: 1.5rem;

  @media (max-width: $screen-xs) {
    padding: 1rem;
  }
}
