<div class="header">
  <div class="header__left">
    <a routerLink="/welcome">
      <div class="logo" hover-class="logo-alt">
      </div>
    </a>
    <p><--Insert logo here</p>
  </div>

  <div class="header__nav">
    <nav>
      <ul class="nav__links">
        <li><a routerLink="./trollbox">Trollbox</a></li>
        <li><a routerLink="./rhymes">Rhymer</a></li>
        <li><a routerLink="./upload">Image uploader</a></li>
      </ul>
    </nav>
  </div>

  <div class="header__right">
    <a class="cta" href="#"><button class="btn btn-primary">Get In Touch</button></a>
  </div>
</div>
