<div class="chat-box-container" *ngIf="userService.isLoggedIn() && !conversationClearing">
  <br>
  <h3 class="troll-feed">{{ conversationTitle }}</h3>
  <div class="chat-content-container">
    <div *ngIf="loading" class="chat-box__spinner-container">
      <app-spinner [white]="true"></app-spinner>
    </div>
    <app-chat-content
      *ngIf="!loading"
      [conversationId]="conversationId"
      [conversationTitle]="conversationTitle">
    </app-chat-content>
    <form [formGroup]="chatInputForm" class="troll-form">
      <div class="troll-form--left">
        <div class="troll-form--left-input">
          <input
            autocomplete="null"
            name="contentInput"
            id="contentInput"
            class="form-control"
            formControlName="content"
            placeholder="Type here...">
          <small *ngIf="!error" id="contentHelp" class="form-text text-muted">We welcome your troll messages, they're safe with us.</small>
          <small *ngIf="error" class="error-message">{{ error }}</small>
        </div>
        <div class="troll-form--left-emoji" (click)="toggleEmojiMart()">
          <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M12 0a12 12 0 1 0 0 24 12 12 0 0 0 0-24m0 22a10 10 0 1 1 0-20 10 10 0 0 1 0 20M8 7a2 2 0 1 0 0 4 2 2 0 0 0 0-4m8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-.8 8c-.7 1.2-1.8 2-3.3 2-1.5 0-2.7-.8-3.4-2H15m3-2H6a6 6 0 1 0 12 0"></path></svg>
        </div>
      </div>
      <div class="troll-form--right">
        <button class="btn btn-danger btn-message" (click)="onSubmit()">
          <img class="send-image" src="../../../assets/images/send--white.png">
        </button>
      </div>
      <emoji-mart
        *ngIf="showEmojiMart"
        title="Pick your emoji…"
        emoji="point_up"
        (emojiClick)="addEmoji($event)"
        [style]="{ position: 'absolute', bottom: '250px', right: '10px' }" >
      </emoji-mart>
    </form>
  </div>
</div>
