<form [formGroup]="loginForm" (ngSubmit)="onloginSubmit()" autocomplete="off">
  <h3>Please enter your username:</h3>
  <br>
  <input type="text" id="email" formControlName="email" class="form-control content-input" placeholder="Email Address">
  <br>
  <input type="password" id="password" formControlName="password" class="form-control content-input" placeholder="Password">
  <br>
  <p class="text--error">{{ error }}</p>
 <div class="d-flex justify-content-between">
    <div>
      <button class="btn btn-inline btn-primary" type="submit">Login</button>
      <button class="btn btn-secondary" type="button" (click)="openRegister()">Register</button>
    </div>
    <button class="btn btn-danger" type="button" (click)="forgotPassword()">Forgot password</button>
 </div>
  <br>
  <br>
  <!-- <button class="btn btn-secondary" routerLink="/home">Later m8!</button> -->
</form>
