<form [formGroup]="loginForm" (ngSubmit)="onloginSubmit()">
  <h3>Please enter your username:</h3>
  <br>
  <label for="name">Username</label>
  <input type="text" id="name" formControlName="name" class="form-control content-input" (input)="tempName = $event.target.value">
  <label for="password">Password</label>
  <input type="password" id="password" formControlName="password" class="form-control content-input" (input)="tempName = $event.target.value">
  <br>
  <button class="btn btn-inline btn-primary" type="submit">Lemmee in!</button>
  <button class="btn btn-secondary" (click)="openRegister()">Register?</button>
  <br>
  <br>
  <!-- <button class="btn btn-secondary" routerLink="/home">Later m8!</button> -->
</form>
