<div class="page-container">

  <div *ngIf="userService.isLoggedIn()">
    <app-chat-box
      [chatTitle]="'Trollbox'"
      [participants]="['trollbox']">
    </app-chat-box>
  </div>

  <div class="active-user-container">
    <h4>Active users</h4>
    <p>Friends</p>
    <div *ngFor="let friend of friends">
      <div class="active-user-row"
      (mouseenter)="friend.hover=true"
      (mouseleave)="friend.hover=false">
        <p class="friend text--no-margin">{{ friend.username }}</p>
        <a *ngIf="friend.hover" routerLink="/chat/{{friend.userId}}">Chat</a>
      </div>
    </div>
    <hr>
    <p>Others</p>
    <div *ngFor="let user of users">
      <div class="active-user-row"
      (mouseenter)="user.hover=true"
      (mouseleave)="user.hover=false">
        <p class="text--no-margin">{{ user.username }}</p>
        <p *ngIf="user.hover && !user.pending" class="btn-add text--no-margin" (click)="sendFriendRequest()">+</p>
        <p *ngIf="user.hover && user.pending" class="text--no-margin" (click)="sendFriendRequest()">pending..</p>
      </div>
    </div>
  </div>

</div>
<div *ngIf="!userService.isLoggedIn()" class="container-vh">
  <h2 class="text--center">Session expired, <a routerLink="/welcome">return to welcome page</a></h2>
</div>
