<div *ngIf="!loadingUsers" class="active-user-container">
  <div *ngIf="users.onlineFriends.length > 0 || users.onlineUsers.length > 0">
    <h4>Online</h4>
    <hr>
  </div>
  <div *ngIf="users.onlineFriends.length > 0">
    <p class="text--no-margin">Friends</p>
    <div *ngFor="let friend of users.onlineFriends">
      <div class="active-user-row"
      (mouseenter)="friend.hover=true"
      (mouseleave)="friend.hover=false">
        <p class="friend text--no-margin">{{ friend.username }}</p>
        <a *ngIf="friend.hover" class="chat-link" (click)="switchConversation(friend.userId)">Chat</a>
      </div>
    </div>
    <br>
  </div>
  <div *ngIf="users.onlineUsers.length > 0">
    <p class="text--no-margin">Others</p>
    <div *ngFor="let user of users.onlineUsers">
      <div class="active-user-row"
      (mouseenter)="user.hover=true"
      (mouseleave)="user.hover=false">
        <p class="text--no-margin">{{ user.username }}</p>
        <p *ngIf="user.hover && !user.pending" class="btn-add text--no-margin" (click)="sendFriendRequest(user)">+</p>
        <p *ngIf="user.hover && user.pending" class="text--no-margin">pending..</p>
      </div>
    </div>
    <br>
  </div>
  <div *ngIf="users.offlineFriends.length > 0 || users.offlineUsers.length > 0">
    <h4>Offline</h4>
    <hr>
  </div>
  <div *ngIf="users.offlineFriends.length > 0">
    <p class="text--no-margin">Friends</p>
    <div *ngFor="let friend of users.offlineFriends">
      <div class="active-user-row"
      (mouseenter)="friend.hover=true"
      (mouseleave)="friend.hover=false">
        <p class="friend text--no-margin">{{ friend.username }}</p>
        <a *ngIf="friend.hover" class="chat-link" (click)="switchConversation(friend.userId)">Chat</a>
      </div>
    </div>
    <br>
  </div>
  <div *ngIf="users.offlineUsers.length > 0">
    <p class="text--no-margin">Others</p>
    <div *ngFor="let user of users.offlineUsers">
      <div class="active-user-row"
      (mouseenter)="user.hover=true"
      (mouseleave)="user.hover=false">
        <p class="text--no-margin">{{ user.username }}</p>
        <p *ngIf="user.hover && !user.pendingFriend" class="btn-add text--no-margin" (click)="sendFriendRequest(user)">+</p>
        <p *ngIf="user.hover && user.pendingFriend" class="text--no-margin">pending..</p>
      </div>
    </div>
    <br>
  </div>
  <div *ngIf="users.pendingRequests.length > 0">
    <p>Friend requests</p>
    <div *ngFor="let user of users.pendingRequests">
      <div class="active-user-row"
      (mouseenter)="user.hover=true"
      (mouseleave)="user.hover=false">
        <p class="text--no-margin">{{ user.username }}</p>
        <p *ngIf="user.hover" class="btn-add text--no-margin" (click)="respondRequest(user.userId, true)">✓</p>
        <p *ngIf="user.hover" class="btn-add text--no-margin" (click)="respondRequest(user.userId, false)">✗</p>
      </div>
    </div>
  </div>
</div>
