@import '../../../sass/base/variables';

.active-user-container {
  display: flex;
  flex: 1 1 auto;
  flex-flow: column;
  height: calc(100% - 3rem);
  overflow: hidden;
  background: $dark;
  width: 100%;
  color: $white;
  padding: 1rem;
  // margin-top: 4rem;
}

.active-user-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.active-user-row:hover {
  border-bottom: 1px solid $white;
}

.friend {
  color: $olive;
}

hr {
  border-top: 1px solid white;
}

.btn-add {
  color: $blue;
  cursor: pointer;
}

.btn-add:hover {
  color: $olive;
}

.chat-link {
  cursor: pointer;
}
