<form *ngIf="!error" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
  <h3>Please enter your new password:</h3>
  <br>
  <label for="newPassword">Desired Alias</label>
  <input type="text" id="newPassword" formControlName="newPassword" class="form-control content-input">
  <label for="confirmPassword">Shoe Size</label>
  <input type="confirmPassword" id="confirmPassword" formControlName="confirmPassword" class="form-control content-input">
  <br>
  <button class="btn btn-inline btn-primary" type="submit">Submit request</button>
  <button class="btn btn-secondary" (click)="openLogin()">Login</button>
</form>
<p *ngIf="error">{{ error }}</p>
