<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
  <h3>Please enter your new password:</h3>
  <br>
  <label for="newPassword">New password</label>
  <input type="text" id="newPassword" formControlName="newPassword" class="form-control content-input">
  <label for="confirmPassword">Confirm new password</label>
  <input type="confirmPassword" id="confirmPassword" formControlName="confirmPassword" class="form-control content-input">
  <br>
  <p *ngIf="error">{{ error }}</p>
  <div class="d-flex justify-content-between">
    <button class="btn btn-inline btn-primary" type="submit">Submit request</button>
    <button class="btn btn-secondary" type="button" routerLink="/welcome">Login</button>
  </div>
</form>
